:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
    font-family: 'Source Serif Pro', serif;
}

@media (prefers-color-scheme: dark) {
    h1, 
    h2, 
    h3,
    p,
    div {
        color: white;
    }
    h1,
    h2,
    h3,
    p,
    div {
        background-color: black;
    }
    :root {
            --light:#272932;
            --dark: #E7ECEF;
    }
}

html {
    font-size: 100%;
}

body {
    background-color: var(--light);
}

h1 {
    font-size: 2.25rem;
}

p {
    font-size: 1.0rem;
}

@media only screen and (max-width: 600px) {
    p {
        display: none;
    }
    p.species, p.fav-foods, p.birth-year {
        display: block;
    }
}

@media screen and (min-width: 700px) {
    h1 {
        font-size: 3.0rem;
    }

    p {
        font-size: 1.15rem;
    }
}

@media screen and (min-width: 1000px) {
    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.25rem;
    }
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    padding: 10px;
    margin: 10px;
}

img {
    width: 250px;
}